.about-top {
	background-color: #0036ff;
	position: relative;

	&:after {
		clear: both;
	}

	h1 {
		color: #fff;
	}

	p {
		color: #fff;
	}
}

.about-bottom {
	background-color: #000;
	color: #fff;
	position: relative;

	.section-title::after{
		content: "";
		display: block;
		width: 96%;
		height: 1px;
		background-color: #fff;
		position: relative;
		top: 12px;
		left: 0;
		margin-bottom: 6px;
	}
}

.copyright {
	margin-top: 36px;
}