.answer {
	background-color: #000;
	color: #fff;

	a { 
		color: #fff;
	}

	h4 {
		font-weight: 400;
		padding: 10px 0;

		&:hover {
			.add-icon {
				transform: rotate(180deg)
			}
		}
	}
}

.panel-body {
	overflow: hidden;
	transition: 0.6s all ease;

	.col-md-11{
		padding: 0 5% 0 8.33%;	
		position: relative;	
	}
}

.panel {
	&::after {
		content: "";
		display: block;
		width: 91.66%;
		height: 1px;
		background-color: #fff;
		position: relative;
		top: 0;
		left: 8.33%;
	}
}

.panel-head {
	cursor: pointer;
}

.add-icon {
	background-color: #fff;
	height: 1px;
	width: 32px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 10;
	transition: 0.5s all ease;

	&::before {
		content: "";
		display: block;
		width: 1px;
		height: 32px;
		background-color: #fff;
		position: absolute;
		top: -16px;
		left: 15.5px;
	}
}