footer{
	border-top: 1px solid #f0f2f3;
	padding: 40px 0;
	background-color: #fff;
	height: auto;
	clear: both;
}

.footer{
	width: 1170px;
	margin: 0 auto;
	padding: 0 1em;
	display: table;
	text-align: center;
}

.foot-p{
	color: #818892;
	font-size: 16px;
	padding:0.08em 0;
	font-weight: 700;
	letter-spacing: 1px;

	a{
		color: #818892;
		text-decoration: underline;
	}
}

.f-left{
	float: left;
}

.f-right {
	float: right;
}

