/* 导航 */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.5s all ease;
	min-width: 1170px;

	.container {
		padding: 16px 32px 12px;
		transition: 0.5s all ease;
	}
}

.active-nav {
	background-color: rgba(0,0,0,0.8);

	.container {
		transform: translateY(-8px);
	}
}

.nav-item {
	list-style: none;
	float: left;
	padding-right: 60px;

	a {
		color: #909090;
		display: block;
		height: 100%;
		font-size: 24px;
	}

	.active-link{
		color: #0036ff;
	}
}

.logo {
	float: right;
	font-size: 24px;
	font-weight: 600;

	a {
		color: #0036ff;
	}
}

/* 首屏 */
.slider {
	height: 700px;
	position: relative;

	.slider-items {
		height: 100%;
		width: 100%;
	}

	.slider-item {
		width: 100%;
		height: 100%;
		position: relative;
		float: left;
		margin-right: -100%;
		transition: 0.6s all ease;
		z-index: 1;
		opacity: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.slider-active {
		z-index: 2;
		opacity: 1;
		display: block;
	}

	::after {
		clear: both;
	}
}


/* 关于 */
.about-top {
	background-color: #0036ff;
	position: relative;
	clear: both;
	color: #fff;

	p {
		white-space: nowrap;  
	}

	.section-title {
		margin-bottom: 4px;
	}

	&:after {
		clear: both;
	}
}

.about-bottom {
	background-color: #000;
	color: #fff;
	position: relative;

	.section-title::after{
		content: "";
		display: block;
		width: 96%;
		height: 1px;
		background-color: #fff;
		position: relative;
		top: 12px;
		left: 0;
		margin-bottom: 6px;
	}

	p {
		color: #fff;
		white-space: nowrap;  
	}
}

.copyright {
	margin-top: 36px;
}


/* 联系我们 */
.contact {
	color: #000;
	background-color: #fff;
	position: relative;
}

.contact-info {
	margin-bottom:48px;

	&:before {
		content: "";
		display: block;
		width: 42px;
		height: 3px;
		background-color: #000;
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 6px;
	}
}


/* 服务信息 */
.service-info {
	background-color: #000;
	color: #fff;
	position: relative;

	ul {
		width: 100%;
	}

	.col-md-4 {
		list-style: none;

		p{
			line-height: 3;
			white-space: pre;
		}
	}
}


/* 下载 */
.download {
	background-color: #fefafa;
	color: #000;
	position: relative;

	.download-header {
		margin-bottom: 12px;

		p {
			font-weight: 500;
			font-size: 16px;
			white-space: nowrap;  
		}

		&::after {
			clear: both;
			content: " ";
		    display: table;
		}
	}

	.col-md-6 {
		padding: 10px 6px;

		p {
			padding: 12px 0;
		}
	}
}

.image-block {
	position: relative;

	img {
		width: 100%;
	}
}

.hover-title {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.66);
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	opacity: 0;
	transition: all 0.5s ease 0s;

	h4 {
		font-size: 26px;
		font-weight: 500;
		letter-spacing: 2px;
		transition: all 0.5s ease 0s;
		transform: translate3d(0px, 50px, 0px);
		opacity: 0;
	}

	&:hover {
		h4 {
			transform: translate3d(0px, -50%, 0px);
			opacity: 1;
			top: 50%;
		}
	    opacity: 1;
	}
}

/* 瀑布流 */
.waterfall {
	background-color: #000;
	color: #fff;
	position: relative;
}

.box-contain {
    position: relative;
	column-count: 2;
	column-gap: 20px;

    &::after {
	    clear: both;
	    content: "";
	    display: block;
	    height: 0;
	    line-height: 0;
	}
}

.pin{
    -moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;

    &:hover{
	     .box img{
		    filter: brightness(100%) grayscale(0%);
		}
	}
}

.box{
    padding: 10px 0;
    overflow: hidden;
}

.box img{
    width:100%;
    height:auto;
    filter: brightness(88%) grayscale(100%);
    transition: 0.5s all ease;
    cursor: pointer;
}

.more {
	text-align: center;
	font-weight: 500;
	font-size: 24px;
	cursor: pointer;
	padding: 36px;

	a {
		color: #fff;
	}
}

/* 回答 */
.answer {
	background-color: #000;
	color: #fff;
	position: relative;
	font-size: 18px;
	line-height: 2.6;

	.panel-head {
		font-weight: 400;
		padding: 14px 0;
		cursor: pointer;

		&:hover {
			.add-icon {
				transform: rotate(180deg)
			}
		}
	}
}

.panel-body {
	overflow: hidden;
	transition: 0.5s all ease-out;

	.col-md-11-2 {
		padding: 2px 0 12px 4.16%;
	}
}

.panel {
	&::after {
		content: "";
		display: block;
		width: 95.8%;
		height: 1px;
		background-color: #fff;
		position: relative;
		top: 0;
		left: 4.16%;
	}
}

.add-icon {
	background-color: #fff;
	height: 1px;
	width: 32px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 10;
	transition: 0.5s all ease;

	&::before {
		content: "";
		display: block;
		width: 1px;
		height: 32px;
		background-color: #fff;
		position: absolute;
		top: -15.5px;
		left: 15.5px;
	}
}

/* 弹出层 */
#mask{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1000;
	overflow: auto;
	background-color: rgba(0,0,0,0.8);

	&:hover {
		.slide-action-butn, .close-btn {
			visibility: visible;
		}
	}

	.slide-action-butn{
		visibility: hidden;
	    height: 72px;
	    margin-top: -36px;
	    position: absolute;
	    top: 50%;
	    transition: 0.5s all ease;
	    width: 72px;
	    z-index: 2;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    border-radius: 36px;
		background-color: rgba(0,0,0, 0.32);

		&:hover {
			background-color: rgba(0,0,0, 0.42);
		}

	    .fa{
	    	color: #fff;
	    }
	}

	.slide-action-left{
		left: 0;
		z-index: 3000;

		.slide-action-butn{
			left: 16px;
		}
	}

	.slide-action-right{
		right: 0;
		z-index: 3000;

		.slide-action-butn{
			right: 16px;
		}
	}
}

.mask-contain{
	width:100%;
	height:100%;
	position:relative;
	display :flex;
	justify-content: center;
	align-items: center;
}

.mask-image{
	width: 100%;
	height: 100%;
	text-align: center;
	transition: 0.5s all ease-out;
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		display: block;
		transition: 0.5s all ease-out;
		width: 0;
		height: 0;
	}

	// 宽屏样式
	.width-mask {
		width: auto;
		max-width: 96%;
		height: 100%;
		padding: 20px 0;
	}

	// 长屏样式
	.height-mask {
		height: auto;
		max-height: 92%;
		width: 100%;
	}
}

.close-btn {
	position: fixed;
	right: 16px;
	top: 16px;
	visibility: hidden;
    height: 42px;
    transition: 0.5s all ease;
    width: 42px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 21px;
	background-color: rgba(0,0,0, 0.32);
	cursor: pointer;

	&:hover {
		background-color: rgba(0,0,0, 0.42);
	}

    .fa{
    	color: #fff;
    }
}