.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.5s all ease;
	min-width: 1170px;

	.container {
		padding: 16px 32px 12px;
		transition: 0.5s all ease;
	}
}

.active-nav {
	background-color: rgba(0,0,0,0.8);

	.container {
		transform: translateY(-8px);
	}
}

.nav-item {
	list-style: none;
	float: left;
	padding-right: 60px;

	a {
		color: #909090;
		font-size: 24px;
	}

	.active-link{
		color: #0036ff;
	}
}

.logo {
	float: right;
	font-size: 24px;
	font-weight: 600;

	a {
		color: #0036ff;
	}
}

