.slider {
	height: 600px;
	position: relative;

	&::after {
	    clear: both;
	    content: "";
	    display: block;
	    height: 0;
	    line-height: 0;
	    visibility: hidden;
	}

	.slider-item {
		width: 100%;
		height: 600px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-position: center center;
		float: left; 
		margin-right: -100%;
		position: relative;
		transition: 0.6s all ease;
		z-index: 1;
		opacity: 0;
	}

	#slider-1 {
		
	}

	#slider-2 {
		background-image: url("http://gtms03.alicdn.com/tps/i3/TB16M4LKpXXXXcEXFXX2AXZ8pXX-900-500.png");	
	}

	#slider-3 {
		background-image: url("https://img.alicdn.com/tps/TB1rXyhKVXXXXXWXVXXXXXXXXXX-900-500.jpg");
	}

	#slider-4 {
		
	}

	#slider-5 {
		background-image: url("http://gtms03.alicdn.com/tps/i3/TB16M4LKpXXXXcEXFXX2AXZ8pXX-900-500.png");	
	}

	#slider-6 {
		background-image: url("https://img.alicdn.com/tps/TB1rXyhKVXXXXXWXVXXXXXXXXXX-900-500.jpg");
	}

	.slider-active {
		z-index: 2;
		opacity: 1;
		display: block;
	}
}

.slider-control {
	position: absolute;
	text-align: center;
	bottom: 20px;
	top: 570px;
	z-index: 11;
	left: 50%;
	transform: translateX(-50%);
	width: auto;

	li {
		list-style: outside none none;
		float: left;
		display: inline-block;
    	margin: 5px 3px;
	}

	a {
		background: transparent none repeat scroll 0 0;
	    border: 1px solid #fff;
	    border-radius: 10px;
	    display: block;
	    height: 10px;
	    width: 10px;
	    transition: all 0.3s ease-in-out 0s;
	}

	.a-active {
		background: #fff none repeat scroll 0 0;
	}
}