.slider {
	ul li {
		width: 100%;
		height: 800px;
		background-image: url(http://127.0.0.1/slider-1.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}
}