.register {
	position: relative;
	padding-bottom: 102px ;
}

.form-container {
	background-color: #fff;
	padding-bottom: 50px;
	width: 420px;
	position: relative; 
  margin: -180px auto 0;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.09);
	z-index: 3;
}

.color-link {
	color: #607d8f;
}

.form-item {
	margin-bottom: 20px;
	padding: 0 28px;
	position: relative;

	input[type="text"], input[type="password"] {
		display: block;
		padding-left: 32px;
		color: rgba(0, 0, 0, 0.65);
	}
}

.form-icon {
	position: absolute;
	left: 40px;
	line-height: 50px;

	.fa {
		color: #aaa;
	}
}

.tab-caption {
	font-size: 18px;
	color: #555;
	padding: 16px 0;
	border: 1px solid #fff;
	border-bottom: 1px solid #607d8f;
	margin-bottom: 16px;
	transition: 0.5s all ease;
	cursor: pointer;

	&:hover {
		background-color: #607d8f;
		color: #fff;
	}
}

.active-tab {
	background-color: #607d8f;
	color: #fff;
}

.register-header {
	background-color: #607d8f;
  height: 360px;
  position: relative;
  width: 100%;
  z-index: 1;
}