.about {
	background-color: #fafafa;
    margin: 100px auto 136px;
    padding: 80px;
    position: relative;
    width: 800px;
    color: #fff;

    .row {
    	margin-bottom: 16px;
    }

    .col-md-8 {
    	padding-left: 16px;
    }

}

.color-bg {
	background-color: #607d8f;
	padding: 12px;
}

.response-img {
	width: 100%;
	height: 100%;
}