body{
	width: 100%;
	min-width: 1170px;
	font-family: consolas,Menlo,PingFang SC,Microsoft YaHei,monospace;
	font-size: 16px;
}
  
.row {
	&::before, &::after{
		clear: both;
		content: " ";
	    display: table;
	}
}

.col-md-1-2 {
	width: 4.16%;
	float: left;
	position: relative;
}

.col-md-1 {
	width: 8.33%;
	float: left;
	position: relative;
}

.col-md-3 {
	width: 25%;
	float: left;
	position: relative;
}

.col-md-4 {
	width: 33.3%;
	float: left;
	position: relative;
}

.col-md-6 {
	width: 50%;
	float: left;
	position: relative;
}

.col-md-8 {
	width: 66.6%;
	float: left;
	position: relative;
}

.col-md-9 {
	width: 75%;
	float: left;
	position: relative;
}

.col-md-11 {
	width: 91.3%;
	float: left;
	position: relative;
}

.col-md-11-2 {
	width: 95.84%;
	float: left;
	position: relative;
}

.text-center {
	text-align: center;
}

.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}


.header{
	position: relative;
	z-index: 1000;

	&::after {
		content: "";
		clear: both;
	}
}

.header-nav {
	height: 32px;
	width: 100%;
	background-color: #607d8f;
	margin: 0;
	position: relative;

	a {
		color: #fff;
		position: relative;
		margin-right: 12px;
		line-height: 22px;
		display: inline-block;	
		padding: 0 6px;
	}

	.link-after-rule {
		&::after {
			height: 16px;
			width: 2px;
			right: -6px;
			top: 4px;
		}
	}
}

.header-left {
	padding-top: 2px;
}

.header-right {
	position: absolute;
	top: 2px;
	right: 0px;	
}

.header-main {
	height: 60px;
	background-color: #fafafa;
	line-height: 60px;
}

.header-ul {
	display: inline-block;
	position: relative;
	top: -4px;
}

.header-li {
	display: inline-block;
	padding: 0 28px;

	a {
		color: #aaa;
		font-size: 20px;
	}

	&:hover {
		border-bottom: 2px solid #607d8f;

		a {
			color: #000;
		}
	}
}

.header-logo {
	font-size: 28px;
	padding: 0 120px 0 60px;
	display: inline-block;

	a {
		color: #607d8f;
	}
}

.footer{
	height: 42px;
	line-height: 42px;
	width: 100%;
	overflow: hidden;	
	position: relative;
	background-color: #607d8f;
	
	a, p {
		color: #fff;
		display: inline-block;
		font-size: 20px;
		position: relative;
		margin-right: 12px;
	}
}

.copyright{
	margin-left: 5%;
}

.footer-link{
	position: absolute;
	top: 0;
	right: 5%;
}

.link-after-rule {
	&::after {
		content: "";
		display: block;
		height: 20px;
		width: 2px;
		background-color: #fff;
		position: absolute;
		right: -6px;
		top: 11px;
	}
}