.home {
	background-color: #f4f4f4;

	img {
		width: 100%;
	}
}

.home-aside {
	padding: 32px 3.3%;
	box-shadow: 5px 5px 5px #ddd;
}

.sign-btn {
	background-color: #607d8f;
	color: #fff;
	cursor: pointer;
}

form {
	label {
		font-size: 20px;
	}

	input {
		box-sizing: border-box;
		display: block;
		width: 100%;
		margin-bottom: 8px;
		padding: 12px;
		border: 1px solid #eee;
	}
}

.home-article {
	padding: 32px 3.3%;
}

.home-article-top {
	.col-md-3 {
		padding: 0 16px;
	}
}

.home-info {
	font-size: 28px;
	font-weight: bold;
}