.login {
	position: relative;
	padding-bottom: 102px;
}

.login-header {
	background-color: #607d8f;
    height: 360px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.login-form {
	background-color: #fff;
	padding-bottom: 50px;
	width: 420px;
	position: relative;
    margin: -180px auto 0;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.09);
	z-index: 3;
}

.color-link {
	color: #607d8f;
}

.login-bottom {
	padding: 36px 0;
	text-align: center;
}

.form-item {
	margin-bottom: 20px;
	padding: 0 28px;
}

.register {	
	background-color: #1b2441;
	height: 800px;
}

.register-container {
	width: 1024px;
	margin: 0 auto;
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.register-form {
	background-color: #fff;
	padding: 0 0 20px;
	width: 400px;
	position: relative;
    left: 50%;
    top: 12%;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.09);
	z-index: 3;
}

.tab-caption {
	font-size: 18px;
	color: #ddd;
	padding: 16px 0;
	border-bottom: 1px solid #607d8f;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	margin-bottom: 16px;
	transition: 0.5s all ease;
	cursor: pointer;
}

.active-tab {
	background-color: #607d8f;
	color: #fff;
}
