.header{
	position: relative;
	z-index: 1000;

	&::after {
		content: "";
		clear: both;
	}
}

.header-nav {
	height: 32px;
	width: 100%;
	background-color: #607d8f;
	margin: 0;
	position: relative;

	a {
		color: #fff;
		position: relative;
		margin-right: 12px;
		line-height: 22px;
		display: inline-block;	
		padding: 0 6px;
	}

	.link-after-rule {
		&::after {
			height: 16px;
			width: 2px;
			right: -6px;
			top: 4px;
		}
	}
}

.header-left {
	padding-top: 2px;
}

.header-right {
	position: absolute;
	top: 2px;
	right: 0px;	
}

.header-main {
	height: 60px;
	background-color: #fafafa;
	line-height: 60px;
}

.header-ul {
	display: inline-block;
	position: relative;
	top: -4px;
}

.header-li {
	display: inline-block;
	
	a {
		color: #aaa;
		font-size: 20px;
		display: block;
		height: 100%;
		width: 100%;
		padding: 0 28px;
	}

	&:hover {
		border-bottom: 2px solid #607d8f;

		a {
			color: #000;
		}
	}
}

.header-logo {
	font-size: 28px;
	padding: 0 120px 0 60px;
	display: inline-block;

	a {
		color: #607d8f;
	}
}

.footer{
	height: 232px;
	width: 100%;
	padding: 20px 0; 
	overflow: hidden;	
	position: relative;
	background-color: #607d8f;
	
	a, p {
		color: #fff;
		font-size: 20px;
		position: relative;
	}

	a {
		display: inline-block;
	}

	h2 {
		color: #fff;
		font-weight: 400;
		font-size: 23px;
		padding-bottom: 16px; 
	}
}

.link-after-rule {
	&::after {
		content: "";
		display: block;
		height: 20px;
		width: 2px;
		background-color: #fff;
		position: absolute;
		right: -6px;
		top: 22px;
	}
}