h1{
	text-align: center;
}

body{
	font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
	font-size: 18px;
}

.container{
	width: 50%;
	height: auto;
	margin: 36px auto;
}

.container form{
	width: 100%;
}

.container table{
	width: 100%;
}

.container tr{
	line-height: 50px;
}

.container button{
	padding: 6px 10px;
	margin: 0 8px;
	background-color: #eee;
	border-radius: 3px;
	border:1px solid #aaa;
	float: right;
}

.container input{
	width: 500px;
	padding: 8px 12px;
	border:1px solid #aaa;
	border-radius: 3px;
	font-family: consolas,Menlo,"PingFang SC","Microsoft YaHei",monospace;
}