#company-container {
	padding: 32px 0;
	font-size: 20px;
}

.company-left {
	width: 72%;
	float: left;
	padding: 28px;
	border: 1px solid #ddd;
}

.company-deal {
	background-color: #eee;
	padding: 18px;
	text-align: center;
}

.com-main {
	height: 600px;
	width: 100%;
}