.company-register {
	margin-bottom: 128px;

	.banner {
		background-image: url("//www.lgstatic.com/hr/static/service/modules/common/img/banner_693a2f8.jpg");
	    background-size: 100% 100%;
	    color: #fff;
	    height: 192px;
	    min-width: 640px;
	    padding: 10px 0;
	    text-align: center;
	    width: 100%;

	     h1 {
		    font-size: 36px;
		    font-weight: 600;
		    margin: 33px 0 0;
		}

		h2 {
		    font-size: 24px;
		    font-weight: 300;
		}
	}

	.about-h {
		padding-bottom: 0;
	}
}

.step {
    height: 54px;
    margin: 62px auto 0;
    width: 540px;
}

.company-register-form {
	margin: 62px auto 0;
    width: 540px;

    span {
    	color: #555;
    }
}

.submit-btn {
	background-color: #607d8f;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 168px;
    margin-top: 28px;
}

.step-num {
    display: inline-block;
    height: 23px;
    width: 180px;
    padding: 0 17px;
    position: relative;
    text-align: center;

    &::before {
		display: block;
		position: absolute;
		font-size: 32px;
		top: -16px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		color: #555;
	}

	&::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 80%;
		width: 40%;
		height: 1px;
		background-color: #ddd;
	}
}

.step-num span {
    color: #555;
    display: block;
    font-size: 16px;
    position: absolute;   
    top: 37px;
    left: 0;
    width: 180px;    
}

.step-one {
	&::before {
		content: "01";
	}
}

.step-two {
	&::before {
		content: "02";
	}
}

.step-third {
	&::before {
		content: "03";
	}

	&::after {
		display: none;
	}
}

.step-active {
	&::before, span {
		color: #607d8f; 
	}
}

.send-email {
    background-image: url("//www.lgstatic.com/hr/static/service/page/open2/main_z_712e0ac.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 43px;
    margin: 0 auto 38px;
    width: 78px;
}