.home {
	color: #555;
}

.home-title {
	font-size: 28px;
	font-weight: 400;
	padding: 12px 0;

	span {
		font-size: 22px;
		color: #607d8f;
	}
}

.home-map {
	padding-right: 28px;
}

.map-block {
	width: 100%;
	overflow: hidden;
	padding-bottom: 28px;
}

.map-title {
	padding: 8px 0;
}

.map-link {
	text-decoration: underline;
	color: #000;
}

.map-img {
	width: 100%;
	height: 232px;
}

.home-community {
	padding-left: 28px;

	.col-md-6 {
		padding: 0 6px 28px;
	}
}